body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.calculator{
    width: 100px;
    padding: 20px;
    background-color:darkslateblue;
}