body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;

}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #fff;
} 

.keys{
    border: none;
    font-size: 10px;
    padding: 20px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4,1fr);
} 

button{
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 50px;
    background-color:grey;
    color: #f0f0f0;
    transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

#equal{
    background-color: orange;
    transition: background-color 0.3s;
}
#equal:hover{
    background-color: lightgray;
}
button:hover.equal{
    background-color:lightgrey

}

#result{
    width: 300px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    padding: 10px; /* Padding inside the input box */
    font-size: 30px; /* Font size of the text inside the input box */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    background-color: lightslategray;
    color: white;
    text-align: right;

}

button:hover{
    background-color:lightgrey

}


.fullb{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

.calb{
    background-color: gray;
    padding: 5px;
    border-radius: 20px;
}